.contact-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/fotos/aboutus.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
@media screen and (min-width: 768px) {
    .contact-container{
        /*flex-direction: row;*/
        justify-content: center;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/fotos/aboutus.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

    }

}
