body{
    margin: 0;
    padding: 0;

}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: #f1f1f1;
    text-align: center;
    margin: 0;
    padding: 0;
}



.footer-subjects{
    color: #f1f1f1;
}


.contact-content{
    padding-top: 2vh;
}
.contact-content p{
    margin: 0;
    padding-bottom: 9px;
}

.contact-content{
    text-align: center;
    margin-top: 30px;
}

.footer > div > img{
    width: 29%;
}

@media only screen and (min-width: 450px) {
    .footer{
        display: flex;
        justify-content:  space-around;
        padding-top: 9px;
    }

}

@media only screen and (min-width: 769px) {
    .footer{
        display: flex;
        justify-content:  space-around;
        padding-top: 9px;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer > div > img{
        width: auto;
        height: 390px;
    }
    .overlay-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .donation{
        border: white 3px solid;
    }
}
